/* styles.css */
body {
  font-family: "Open Sans", sans-serif;
}

header {
  background: rgba(0, 0, 0, 0.5) url("images/Aatrox-Wallpaper.jpg");
  background-size: cover;
  background-blend-mode: darken;
  color: #fff;
  height: 400px;
}

footer {
  background: rgba(0, 0, 0, 0.5) url("images/Blood_Moon.webp");
  background-size: cover;
  background-blend-mode: darken;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.background {
  background-color: #fafafa;
}

.card {
  height: 225px;
  object-fit: cover;
  margin-bottom: 1em;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.025);
}

.card img {
  transition: all 0.5s ease;
}

.card:hover img {
  filter: brightness(50%);
  transform: scale(1.05);
}

.card .card-text {
  transform: translateX(-100%);
  transition: transform 0.5s;
  visibility: hidden;
}

.card:hover .card-text {
  transform: translateX(0);
  visibility: visible;
}
